body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightpink;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[name='input']{
  outline: none;
  width: 90%;
  margin-top: 5%;
  height: 50px;
  padding-left: 10px;
}
input[name='input']:focus{
  border: 1px solid lightseagreen;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 4px 8px -2px, rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}
#todos{
  max-width: 650px;
  margin: auto;
  margin-top: 3%;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#task-box{
  margin-top: 5%;
  height: 350px;
  overflow: auto;
  width: 100%;
}
#footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  margin: 10px;
  display: inline-block;
}
.btn{
  outline: none;
  background-color: royalblue;
  border: none;
  color: white;
  padding: 3%;
  cursor: pointer;
  border-radius: 5px;
  margin: 1%;
  width: 30%;
  height: 50px;
}
.btn:active{
  background-color: cornflowerblue;
}
.btn-save{
  background-color:darkolivegreen;
  padding: auto;
}
.btn-save:active{
  background-color: darkseagreen;
}
